<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>大杂烩</title>
<link rel="shortcut icon" href="favicon.png">
<link rel="icon" href="favicon.png" type="image/x-icon">
<link type="text/css" rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>

<body>
<div class="chatbox">
  <div class="chat_top fn-clear">
    <!-- <div class="logo"><img src="images/logo.png" width="190" height="60"  alt=""/></div> -->
    <div class="uinfo fn-clear username">
      <!-- <div class="uface"><img src="images/hetu.jpg" width="40" height="40"  alt=""/></div> -->
    </div>
  </div>
  <div class="chat_message fn-clear">
    <div class="chat_left">
      <div class="message_box" id="message_box">
        <!-- <div class="msg_item msg_item_order msg_order fn-clear">
          <div class="uface oface"><img src="images/53f44283a4347.jpg" width="40" height="40"  alt=""/></div>
          <div class="item_left">
            <div class="msg">近日，TIOBE发布了2014年9月的编程语言排行榜，Java、C++跌至历史最低点，前三名则没有变化，依旧是C、Java、Objective-C。</div>
            <div class="name_time">猫猫 · 3分钟前</div>
          </div>
        </div>
        
        <div class="msg_item msg_item_order msg_order fn-clear">
          <div class="uface oface"><img src="images/53f442834079a.jpg" width="40" height="40"  alt=""/></div>
          <div class="item_left">
            <div class="msg">(Visual) FoxPro, 4th Dimension/4D, Alice, APL, Arc, Automator, Awk, Bash, bc, Bourne shell, C++CLI, CFML, cg, CL (OS/400), Clean, Clojure, Emacs Lisp, Factor, Forth, Hack, Icon, Inform, Io, Ioke, J, JScript.NET, LabVIEW, LiveCode, M4, Magic, Max/MSP, Modula-2, Moto, NATURAL, OCaml, OpenCL, Oz, PILOT, Programming Without Coding Technology, Prolog, Pure Data, Q, RPG (OS/400), S, Smalltalk, SPARK, Standard ML, TOM, VBScript, Z shell</div>
            <div class="name_time">白猫 · 1分钟前</div>
          </div>
        </div>
        
        <div class="msg_item msg_item_me msg_me fn-clear">
          <div class="uface iface"><img src="images/hetu.jpg" width="40" height="40"  alt=""/></div>
          <div class="item_right">
            <div class="msg own">那个统计表也不能说明一切</div>
            <div class="name_time">河图 · 30秒前</div>
          </div>
        </div> -->
      </div>
      <div class="write_box">
        <textarea id="message" name="message" class="write_area" placeholder="说点啥吧..."></textarea>
        <!-- <input type="hidden" name="fromname" id="fromname" value="河图" /> -->
        <input type="hidden" name="to_uid" id="to_uid" value="0">
        <div class="facebox fn-clear">
          <div class="expression"></div>
          <div class="chat_type" id="chat_type">群聊</div>
          <button name="" class="sub_but">提 交</button>
        </div>
      </div>
    </div>
    <div class="chat_right">
      <ul class="user_list" title="双击用户私聊">
        <li class="fn-clear selected" data-id="0"><em>所有用户</em></li>
        <!-- <li class="fn-clear" data-id="1"><span><img src="images/hetu.jpg" width="30" height="30"  alt=""/></span><em>河图</em><small class="online" title="在线"></small></li>
        <li class="fn-clear" data-id="2"><span><img src="images/53f44283a4347.jpg" width="30" height="30"  alt=""/></span><em>猫猫</em><small class="online" title="在线"></small></li>
        <li class="fn-clear" data-id="3"><span><img src="images/53f442834079a.jpg" width="30" height="30"  alt=""/></span><em>白猫</em><small class="offline" title="离线"></small></li> -->
      </ul>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://cdn.bootcss.com/Faker/3.1.0/faker.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
if (localStorage.username) {
    loginAfter();
}
else {
    window.location.href = "/";
}
function loginAfter() {
    var socket = io();
    var username = localStorage.username || faker.name.findName();
    var image = localStorage.image || faker.image.avatar();
    $(".username").append(`<div class="uface image"><img src="${image}" width="40" height="40"  alt=""/></div>`);
    var users = {};
    //登录
    socket.emit("add user", {
        username,
        image
    });
    //用户列表
    socket.on("add user", (massage) => {
        localStorage.username = username;
        localStorage.image = image;
        var user_list = $(".user_list");
        if (massage.code !== 200) {
        alert(massage.msg);
        }
        users = massage.users;
        for (let id in users) {
        var _user = users[id];
        var li = `<li class="fn-clear ${id}" data-id="${id}"><span><img src="${_user.image}" width="30" height="30"  alt=""/></span><em>${_user.username}</em></li>`
        user_list.append(li);
        }
        $(".username").append(`<div class="uname">
            ${username}
            <ul class="managerbox">
            <li><a href="#"><i class="fontico lock"></i>修改密码</a></li>
            <li><a href="#"><i class="fontico logout"></i>退出登录</a></li>
            </ul>
        </div>`);

        addClick();
    });
    //新用户
    socket.on("new user", (massage) => {
        var user = massage.fromUser;
        users[user.id] = user;
        var li = `<li class="fn-clear ${user.id}" data-id="${user.id}"><span><img src="${user.image}" width="30" height="30"  alt=""/></span><em>${user.username}</em></li>`;
        $(".user_list").append(li);
        addClick();
    })
    //用户离开
    socket.on("left user", (user) => {
        $(`.${user.fromUser.id}`).remove();
    });
    //群聊
    socket.on("send all massage", (massage) => {
        receiveMessage(massage);
    });
    //私聊
    socket.on("send massage", (massage) => {
        receiveMessage(massage);
    })

    $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
    // $('.uname').hover(
    //     function(){
    // 	    $('.managerbox').stop(true, true).slideDown(100);
    //     },
    // 	function(){
    // 	    $('.managerbox').stop(true, true).slideUp(100);
    // 	}
    // );

    var fromname = username;
    var to_uid   = 0; // 默认为0,表示发送给所有用户
    var to_uname = '';
    function addClick() {
        $('.user_list > li').dblclick(function(){
        to_uname = $(this).find('em').text();
        to_uid   = $(this).attr('data-id');
        if(to_uname == fromname){
            alert('您不能和自己聊天!');
            return false;
        }
        if(to_uname == '0'){
            $("#toname").val('');
            $('#chat_type').text('群聊');
        }else{
            $("#toname").val(to_uid);
            $('#chat_type').text('您正和 ' + to_uname + ' 聊天');
        }
        $(this).addClass('selected').siblings().removeClass('selected');
            $('#message').focus().attr("placeholder", "您对"+to_uname+"说：");
        });
    }

    $('.sub_but').click(function(event){
        var msg = $("#message").val().trim();
        if (msg.length > 0) {
            sendMessage(event, fromname, to_uid, to_uname);
        }
    });

    //添加聊天信息
    function receiveMessage(massage) {
        const fromUser = users[massage.fromUser] || massage.robot;
        var dev = `<div class="msg_item msg_item_order msg_order fn-clear">
            <div class="uface oface"><img src="${fromUser.image}" width="40" height="40"  alt=""/></div>
            <div class="item_left">
            <div class="msg">${massage.massage}</div>
            <div class="name_time">${fromUser.username}</div>
            </div>
        </div>`;
        $("#message_box").append(dev);
        $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
    }

    /*按下按钮或键盘按键*/
    $("#message").keydown(function(event){
        var e = window.event || event;
        var k = e.keyCode || e.which || e.charCode;
        var msg = $("#message").val();
        //是否为enter
        var isEnter = k == 13 || k == 10;
        //是否为ctrl
        var isCtrl = event.ctrlKey;
        //按下ctrl+enter为回车
        if(isEnter && isCtrl) {
            $("#message").val(msg + "\n");
        }
        //按下enter发送消息
        if(isEnter && !isCtrl){
            if (msg.trim().length > 0) {
                e.preventDefault();
                sendMessage(event, fromname, to_uid, to_uname);
            }
        }
    });
    function sendMessage(event, from_name, to_uid, to_uname){
        var eventName = "send all massage";
        var massage = {
            fromUser: socket.id,
            massage: $("#message").val()
        };
        if (to_uid != "0") {
            eventName = "send massage";
            massage.toUser = to_uid;
        }
        socket.emit(eventName, massage);
        addMassage(...arguments);
    }

    function addMassage(event, from_name, to_uid, to_uname) {
        var msg = $("#message").val();
        if(to_uname != '' && to_uid != "0"){
            msg = '您对 ' + to_uname + ' 说： ' + msg;
        }
        var htmlData =   `<div class="msg_item msg_item_me msg_me fn-clear">
            <div class="uface iface"><img src="${image}" width="40" height="40"  alt=""/></div>
            <div class="item_right">
            <div class="msg own"> ${msg} </div>
            <div class="name_time"> ${from_name} </div>
            </div>
        </div>`;
        $("#message_box").append(htmlData);
        $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
        $("#message").val('');
    }
}
});
</script>
</body>
</html>
